@import '~antd/dist/antd.less';
@import '../colors';
@import './antd.less';
@import '../go-live.less';

// ANTD COLOR MAPPING
@primary-color: @prime-light;
@info-color: @prime-light;
@success-color: @prime-light;
@processing-color: @prime-light;
@error-color: @red-light;
@highlight-color: @prime-light;
@warning-color: @prime-light;
@normal-color: @primelight-5;
@disabled-color: fade(@primedark-4, 50%);
@disabled-bg: fade(@primelight-3, 50%);

@primary-1: lighten(@prime-light, 4%);
@primary-2: lighten(@prime-light, 4%);
@primary-5: lighten(@prime-light, 4%);
@primary-7: lighten(@prime-light, 4%);

@text-color: @primedark-4;
@text-color-secondary: @primedark-4;
@text-color-dark: @primedark-4;
@text-color-secondary-dark: @primedark-4;
@icon-color: @prime-light;
@icon-color-hover: @prime-light;
@heading-color: @primedark-2;

@component-background: @primelight-1;
@popover-background: @primelight-1;
@background-color-light: @primelight-1;
@background-color-base: @primelight-1;
@border-color-split: @primelight-4;

@item-active-bg: darken(@primelight-1, 4%);
@item-hover-bg: darken(@primelight-1, 4%);

@link-color: @primedark-2;
@link-hover-color: @primedark-2;
@link-active-color: @primedark-2;

@border-color-base: @primelight-4;
@border-color-split: @primelight-4;
@border-color-inverse: @primelight-4;

@shadow-color: rgba(55, 71, 79, 0.12);
@shadow-color-inverse: rgba(55, 71, 79, 0.12);
@btn-shadow: rgba(55, 71, 79, 0.12);
@btn-primary-shadow: rgba(55, 71, 79, 0.12);
@btn-text-shadow: rgba(55, 71, 79, 0.12);

@btn-danger-color: @red-light;
@btn-danger-bg: fade(@red-light, 28%);
@btn-text-hover-bg: transparent;
@btn-default-bg: @primelight-3;

@radio-button-hover-color: @primary-1;

@checkbox-check-color: @primedark-2;

@radio-dot-disabled-color: @primelight-1;
@radio-disabled-button-checked-bg: @primelight-1;

@select-multiple-item-disabled-color: @primedark-4;
@select-item-selected-color: @white;
@select-dropdown-bg: @primelight-2;
@select-item-active-bg: @primelight-3;
@select-item-selected-bg: fade(@prime-light, 12%);
@select-background: @primelight-1;
@select-clear-background: @primelight-1;
@select-selection-item-bg: @primelight-3;
@select-selection-item-border-color: @primelight-4;

@slider-rail-background-color: @prime-light;
@slider-rail-background-color-hover: @prime-light;
@slider-track-background-color: @prime-light;
@slider-track-background-color-hover: @prime-light;
@slider-handle-background-color: @prime-light;
@slider-handle-color: @prime-light;
@slider-handle-color-hover: @prime-light;
@slider-handle-color-focus: @prime-light;
@slider-handle-color-focus-shadow: rgba(55, 71, 79, 0.12);
@slider-handle-color-tooltip-open: @prime-light;
@slider-dot-border-color-active: @primelight-4;

@input-placeholder-color: @primedark-4;
@input-number-handler-active-bg: @primedark-4;
@input-icon-hover-color: @prime-light;
@input-disabled-color: @disabled-color;

@layout-body-background: @primelight-3;
@layout-header-background: @primelight-3;
@layout-trigger-background: @primelight-3;
@layout-trigger-color: @primedark-4;
@layout-sider-background-light: @primelight-3;
@layout-trigger-background-light: @primelight-3;

@divider-color: @primelight-4;

@tooltip-color: @primedark-4;
@tooltip-bg: @primelight-1;
@tooltip-arrow-width: 4px;

@modal-mask-bg: rgba(0, 0, 0, 0.5);

@alert-success-border-color: @prime-light;
@alert-success-bg-color: fade(@prime-light, 8%);
@alert-success-icon-color: @prime-light;
@alert-info-border-color: @prime-light;
@alert-info-bg-color: fade(@yellow-dark, 8%);
@alert-info-icon-color: @prime-light;
@alert-warning-border-color: @red-light;
@alert-warning-bg-color: fade(@red-light, 28%);
@alert-warning-icon-color: @red-light;
@alert-error-border-color: @red-light;
@alert-error-bg-color: fade(@red-light, 28%);
@alert-error-icon-color: @red-light;
@alert-message-color: @primedark-2;

@image-bg: transparent;
@image-color: transparent;

@border-radius-base: 4px;
@font-family: 'Roboto', sans-serif;

// Checkbox check icon color
.ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid @primelight-1;
  border-top: 0;
  border-left: 0;
}

// Checkbox check icon color
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--secondary-checkbox);
  border-color: var(--secondary-checkbox);
}
