.patreon-tags {
  width: 100%;

  :global(.ant-space.ant-space-horizontal.ant-space-align-center) {
    margin-left: 16px;
    width: calc(100% - 16px);
  }

  :global(.ant-space-item):last-child {
    width: 100%;
    flex: 1;
  }

  :global(.ant-col.ant-col-16.ant-form-item-control) {
    max-width: 100% !important;
  }

  :global(.ant-radio-wrapper) {
    margin-right: 0px;
  }
}
