@alert-info-light: #e6f2fa;
@alert-info-text-light: #12557a;
@alert-error-light: #fbeae7;
@alert-error-text-light: #9b2f20;
@alert-info-dark: #21323d;
@alert-info-text-dark: #72d5ff;
@alert-error-dark: #2c2a30;
@alert-error-text-dark: #ff6f5c;
