@import '../../styles/index';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.text-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  border: none;
  background: none;
  color: white;
  font: inherit;
  line-height: 1;
  cursor: pointer;

  i {
    display: flex;
  }
}

.app-view-wrapper {
  flex: 1;
  position: relative;
}
