@import '../../styles/index';
@import '../../styles/mixins';
@import '../../styles/badges';

.tools-nav {
  &.tools-start {
    margin-left: auto;
  }

  &.divider {
    :global(.ant-menu-title-content) {
      align-self: stretch;
      margin-top: 1px;
      display: flex;
      align-items: center;
    }

    hr {
      border: none;
      border-left: 2px solid var(--border);
      height: 50%;
    }
  }

  .compact {
    :global(.ant-menu-item) {
      padding: 0 8px !important;
    }

    i:not(.link-badge) {
      font-size: 16px;
    }
  }

  .toggle {
    margin-bottom: 0px !important;

    &--active {
      color: var(--teal) !important;
    }
  }

  .settings-menu {
    :global(.ant-menu-title-content) {
      margin-left: 0 !important;
    }
  }

  .user-profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-anchor {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &-image {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-dropdown-icon {
      position: absolute;
      right: -4px;
      bottom: -4px;
      font-size: 10px;
    }

    &-menu {
      background-color: var(--section-alt);
      border-radius: 4px;
      padding: 4px 0;
      min-width: 160px;
    }

    &-header {
      padding: 8px 16px;
      border-bottom: 1px solid var(--border);
      margin-bottom: 4px;
      cursor: default;
    }

    &-item {
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: var(--hover);
      }
    }
  }

  :global(.ant-form-item-control-input-content) {
    // Vertically align the toggles with their labels
    display: flex;
    align-items: center;

    // Remove the labels only on smaller screens
    @media (max-width: 1400px) {
      & > span {
        display: none;
      }
    }
  }
}
