@import "../../../styles/index.less";

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80% !important;
  width: 80% !important;

  :global(.ant-modal-content) {
    z-index: 2000 !important; // show above everything
    height: 100% !important;
  }

  :global(.ant-modal-footer) {
    background-color: var(--background);
    border-top: none;
  }
}

.dark-box {
  background-color: var(--section);
  border-radius: 16px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.kevin-box {
  width: 56px;
  height: 56px;
  background: var(--teal);
  border-radius: 16px;
  position: relative;
  margin-bottom: 32px;

  svg {
    .center();
  }
}

.big-button {
  border-radius: 32px !important;
  width: 240px;
  height: 64px !important;
  font-weight: bold !important;
  display: flex;
  align-items: center;

  i {
    margin-right: 4px;
  }
}

.big-button.white {
  background: var(--white);
  color: var(--section);

  &:hover {
    border: none;
    background: var(--icon);
    color: var(--section);
  }
}

.platform-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
    align-items: center;

    i {
      margin-right: 4px;
    }
  }
}

.platforms-container {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  flex-wrap: wrap;
}

.platform-card {
  width: 240px;
  height: 140px;
  border-radius: 16px;
  background: var(--section);
  overflow: hidden;
  margin-top: 16px;
  padding-top: 16px;

  &:hover {
    cursor: pointer;
  }

  .platform-card-button {
    background: var(--button);
    width: 100%;
    padding: 8px;
    position: relative;
    bottom: -12px;
  }

  :global(.ant-col-16) {
    max-width: 100%;
  }
}
