.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80% !important;
  width: 80% !important;

  :global(.ant-modal-content) {
    z-index: 2000 !important; // show above everything
    height: 100% !important;
  }

  :global(.ant-modal-footer) {
    background-color: var(--backround);
    border-top: none;
  }
}

.dark-box {
  background-color: var(--section);
  border-radius: 16px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.big-button {
  border-radius: 32px !important;
  width: 240px;
  height: 64px !important;
  font-weight: bold !important;
}
