.ultra-box,
.free-box {
  text-align: left;
  width: 100%;

  a {
    z-index: 1;
  }

  a:hover {
    cursor: pointer;
  }
}

.ultra-box-container {
  background: transparent !important;
  padding: 16px !important;
  width: 100%;
}

.free-box {
  border-radius: 8px;
  margin-top: 16px;
  border: 2px solid var(--title);
  background: var(--section-alt);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  h4 {
    margin-bottom: 0;
  }
}

.selected-badge {
  border-radius: 4px;
  background-color: var(--teal-semi);
  color: var(--teal);
  padding: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 88px;

  i {
    margin-right: 4px;
  }
}
