@import '../../../styles/index.less';
@import '../../../styles/mixins.less';

.destination-logo {
  font-size: 16px;
  margin-top: 4px;
}
.platform-logo-twitch {
  font-size: 16px;
  margin-top: 5px;
}
.platform-logo-youtube {
  font-size: 15px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
}
.platform-logo-facebook {
  font-size: 16px;
}
.platform-logo-tiktok {
  font-size: 16px;
  margin-left: 1px;
  width: 16px;
  height: 16px;
}
.platform-logo-instagram {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.platform-logo-twitter {
  width: 15px;
  height: 15px;
}
.platform-logo-kick {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
.platform-logo-trovo {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.platform-logo {
  margin: 0px 10px 0px 0px;
}

.platform-switcher {
  .radius();

  display: flex;
  flex-direction: column;
  background: var(--card-target);
  transition: transform 0.05s;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 8px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .destination-info {
    display: flex;
    flex-direction: row;
    width: 100%;

    :global(.ant-form-item) {
      margin-bottom: 0px;
    }
  }

  .col-info {
    display: flex;
    flex-direction: column;
  }

  .col-account {
    display: flex;
    align-items: flex-start;
  }

  .col-input {
    padding-right: 16px;
  }

  .col-primary {
    color: var(--teal);
    text-align: center;
  }

  .platform-name {
    color: var(--title);
    font-weight: 500;
  }
}

.switch-wrapper {
  padding: 0px 15px;
}

.switch-wrapper:last-child {
  padding-bottom: 55px;
}

.platform-switcher:last-child {
  margin-bottom: 0px;
}

.platform-name {
  font-size: 14px;
}

.platform-handle {
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
}

.display-selector-wrapper {
  &.hidden {
    display: none;
  }

  :global(.ant-form-item) {
    margin-bottom: 0px;
  }
}

.display-selector {
  margin-top: 6px;
  margin-bottom: 0px !important;
  display: flex;
  align-self: flex-end;
  flex: 1;

  :global(.ant-form-item-control-input-content) {
    min-width: 70px;
    text-align: right;
  }

  :global(.ant-form-item-label) {
    display: none;
  }

  :global(.ant-radio-wrapper:last-child::after) {
    display: none;
  }
}

.action-modal-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: super;
  color: var(--title);
}

.connect-button {
  align-self: center;
}

.info-alert {
  color: #72d5ff;
  width: 600px;
  border-radius: 4px;
  margin: 0 auto;
  text-align: left !important;

  :global(.ant-form-item-control-input-content) {
    min-width: 100px;
    text-align: right;
  }

  :global(.ant-message-info) {
    display: flex;
    align-items: center;
  }

  :global(.ant-message-info .anticon) {
    color: #72d5ff;
    margin-right: 10px;
  }
}

.alert-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switcher-tooltip {
  :global(.ant-tooltip-arrow-content) {
    width: 12px;
    height: 12px;
    z-index: 2;
  }

  &:global(.ant-tooltip-placement-right .ant-tooltip-arrow) {
    left: -2px !important;
  }

  :global(div.ant-tooltip-inner) {
    box-shadow: 0 2px 16px -4px rgba(211, 211, 211, 0.274), 0 2px 15px 0 rgba(211, 211, 211, 0.32),
      0 2px 28px 6px rgba(211, 211, 211, 0.2) !important;
  }
  :global(.ant-radio-wrapper:last-child::after) {
    display: none;
  }
}

.action-modal-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: super;
  color: var(--title);
}

.connect-button {
  align-self: center;
}

.info-alert {
  color: #72d5ff;
  width: 600px;
  border-radius: 4px;
  margin: 0 auto;
  text-align: left !important;

  :global(.ant-message-info) {
    display: flex;
    align-items: center;
  }

  :global(.ant-message-info .anticon) {
    color: #72d5ff;
    margin-right: 10px;
  }
}

.alert-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
