@import '../../../styles/index.less';

.settings-row {
  height: 100%;
  margin: 0px !important;

  :global(.ant-col) {
    padding: 0px;
  }
}

.right-column {
  height: 100%;
  background-color: var(--background);
  overflow: hidden;
  padding: 15px !important;

  :global(label.ant-form-item-required) {
    flex-direction: row-reverse;
  }

  :global(label.ant-form-item-required::before) {
    margin-left: 4px;
  }

  :global(.ant-form-item-label > label) {
    height: unset;
  }
}

.label {
  align-self: center;
  margin-right: 10px;
  flex-grow: 1;
}

.go-live-settings {
  height: 100%;

  &:global(a) {
    color: var(--teal);
  }
}

.column-padding {
  padding: 0px 15px 15px 15px;
  margin: 0px 15px 0px 0px;
}

.left-column {
  height: 100%;
  width: 100%;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  justify-content: space-between;
}

.left-footer {
  padding-top: 5px;
  margin: 0px 15px;
  width: calc(100% - 30px);
  position: sticky;
  bottom: 0px;
}

.dual-output-go-live {
  height: 100%;

  &:global(a) {
    color: var(--teal);
  }

  :global(.ant-modal-body) {
    padding: 0px;
  }
}

.section {
  background-color: var(--card);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  color: var(--paragraph);
  font-size: 12px;

  :global(.ant-form-item) {
    margin-bottom: 0px;
  }

  // :global(.ant-form-item-label > label.ant-form-item-no-colon) {
  //   display: none;
  // }
  // .margin-bottom(2);
  // .padding-right(2);
  // border-top: 1px solid var(--border);
  // background-color: var(--section);

  // &:first-child {
  //   border-top: none;
  // }

  // h2 {
  //   .margin-top(2);
  // }

  // [data-type='bool'] {
  //   width: 100% !important;
  // }
}

.page {
  .absolute(0, 0, 0, 0);
}

.settings-container {
  width: 100%;
  height: 100%;
  position: relative;
  left: 16px;
  padding-right: 16px;

  :global(.ant-form-item-label) {
    padding: 0px !important;
  }
}

.add-destination-banner {
  margin: 0px;
}

button.bottom {
  margin: 15px 15px 0px 15px !important;
}

.right-text {
  .margin-top(4);
  text-align: right;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spacer {
  width: 1px;
  height: 32px;
}

.banner-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.banner {
  margin-right: 5px;
  height: 32px !important;
  width: unset !important;
}

.destination-mode {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.feature-checkbox {
  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: var(--secondary-checkbox);
    border-color: var(--secondary-checkbox);
  }
}

.primary-chat {
  border: 0px;
  padding-bottom: 5px;
  font-size: 15px;

  :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
    border: 0px !important;
  }

  :global(.ant-form-item) {
    margin: 0px;
  }

  :global(.ant-select.ant-select-single.ant-select-show-arrow) {
    width: unset !important;
  }

  :global(.anticon) {
    color: var(--title);
  }

  :global(.ant-select-selection-item) {
    color: var(--title);
  }

  :global(.ant-form-item-label) {
    text-align: left;
  }

  &.disabled {
    :global(.ant-form-item-label > label) {
      color: var(--button-hover) !important;
    }

    :global(.ant-select-disabled .ant-select-selector) {
      background: unset !important;
      color: var(--button-hover) !important;
    }

    :global(.ant-select-selection-item) {
      color: var(--button-hover) !important;
    }

    :global(.anticon) {
      color: var(--button-hover) !important;
    }
  }
}

.column-header {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 0px 15px 15px;
  font-weight: 400;
  color: var(--title);
  letter-spacing: 0.3px;

  :global(.ant-form-item) {
    margin-bottom: 0px;
  }

  :global(.ant-row) {
    align-items: center;
  }
}

.error-alert {
  color: #ff6f5b;
  width: 600px;
  border-radius: 4px;
  margin: 0 auto;
  text-align: left !important;

  :global(.ant-message-error) {
    display: flex;
    align-items: center;
  }

  :global(.ant-message-error .anticon) {
    color: #ff6f5b;
    margin-right: 10px;
  }
}

.alert-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirm-btn {
  width: 141.25px;
}

.column-content {
  height: 89%;
}

.switcher-wrapper {
  height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.settings {
  background-color: var(--card) !important;
  margin-bottom: 8px !important;
  padding: 8px !important;
  border-radius: 8px !important;
  color: var(--paragraph);
  font-size: 12px;

  h2 {
    color: var(--title);
    font-size: 14px;
    font-weight: 400;
  }

  :global(.ant-form-item) {
    margin-bottom: 0px;
  }

  :global(.ant-form-item-label > label) {
    font-size: 12px;

    i {
      font-size: 12px;
    }
  }

  :global(.ant-form-item-required::before) {
    font-size: 12px;
  }

  :global(.ant-input-lg) {
    font-size: 14px;
    color: var(--paragraph);
  }

  // :global(label.ant-form-item-no-colon) {
  //   display: none;
  // }

  :global(.ant-checkbox-wrapper) {
    font-size: 12px;
  }
}

.tiktok-hide-label {
  :global(.ant-form-item-label) {
    display: none;
  }
}
