@import '../../../styles/index.less';

.recording-tooltip {
  display: flex;
  align-items: center;

  i.info {
    margin-left: 10px;
  }

  :global(.ant-col.ant-form-item-label) {
    display: none !important;
  }

  :global(.ant-row.ant-form-item) {
    margin-right: 0px !important;
  }

  :global(.ant-switch.ant-switch-small) {
    margin-right: 0px !important;
  }
}

.recording-switcher {
  color: var(--title);
  margin-right: 16px;

  :global(.ant-switch-checked) {
    background-color: var(--title);
  }
}
