@import '../../../styles/index.less';

.recording-tooltip {
  display: flex;
  align-items: center;

  i.info {
    margin-left: 10px;
  }
}

.recording-switcher {
  display: flex;
  justify-content: flex-start;
  flex: 1;

  :global(.ant-switch-checked) {
    background-color: var(--title);
  }
}
