@import '../../styles/index';

.dual-output-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--icon-toggle);

  &:hover {
    cursor: pointer;
  }

  .toggle-wrapper {
    display: flex;
    align-items: center;
  }

  i {
    margin: 0 10px 0 0;
  }
}

.display-active {
  color: var(--teal);
}

.stream-icon {
  margin-right: 0px;
  color: var(--icon-active);
  font-size: 14px;
}

.record-icon {
  color: var(--red);
  font-size: 14px;
  margin: 3px 0px 0px 0px !important;
}

.hidden {
  opacity: 0;
}
