@import '../../styles/index.less';

.info-badge {
  .radius();
  .padding();

  background-color: var(--info-badge);
  color: var(--info-badge-text);
  font-size: 10px;
  display: inline-flex;
  align-items: center;

  &.margin {
    margin: 15px;
  }

  &.lg {
    font-size: 14px;
    margin-bottom: 24px;
    padding: 2px 6px;

    i {
      margin-right: 5px;
    }
  }
}
