.stream-shift-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.stream-shift-toggle {
  display: flex;
  color: var(--title) !important;
}

.label-ultra-badge {
  display: flex;
  align-items: center;
}

.label-checkbox {
  width: 100%;
  text-wrap: nowrap;

  &.ultra {
    align-self: baseline;
  }
}

.tooltip {
  display: flex;
  align-items: center;
}

.beta-badge {
  margin-left: 10px;
}

.ultra-icon {
  margin-right: 5px;
  overflow: visible;
}
