@import '../../../styles/index.less';

.icon-radio {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  :global(.ant-row.ant-form-item) {
    margin-right: 0px !important;
  }

  :global(.ant-radio-wrapper::after) {
    width: inherit;
  }

  :global(.ant-radio-wrapper) {
    i {
      color: var(--icon-toggle);
      transition: color 0.3s ease-in-out;
    }
  }

  :global(.ant-radio-wrapper-checked) {
    border: none;

    i {
      color: var(--icon-toggle-active);
      transition: color 0.3s ease-in-out;
    }
  }

  :global(.ant-radio) {
    position: absolute;
    left: -9999px;
    overflow: hidden;
  }

  :global(.ant-radio) + * {
    padding: 0px;
    overflow: hidden;
  }
}

.icon-radio {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  :global(.ant-row.ant-form-item) {
    margin-right: 0px !important;
  }

  :global(.ant-radio-wrapper) {
    margin: 0px !important;
  }

  i.icon-toggle {
    padding: 0px 1px;
  }
}
